.about{
	

	h2 {
		display:block;
		background: url(../images/whatIsGrok.png) no-repeat;
		text-indent: -9999px;
		width: 160px;
		height: 20px;
		background-size: 160px 20px;
		margin: 1em auto;
		
		}

	p {
		margin-bottom: 0;
		font-weight: 500;

		@include breakpoint($small){
			font-size: 1.1em;
		}
	}

	.verb {
		margin-top: 0;
	}

	ul {
		margin: 0;
	}


	li {
		-webkit-font-smoothing: antialiased;
		margin-bottom: 1.15em;
		font-size: 1.2em;
		line-height: 1.4;
	}
	
	h4 {
		font-size: 1.3em;
		margin-bottom: 0; 
		font-weight: 500;

	}

	h3 {
		line-height: 1.4;
		font-size: 1.5em;
	}



	.aboutList {
		background: url(../images/group1020.jpg) no-repeat;
		color: white;
		padding: 1.25em 0;
	}

	.blueBG {
		padding: 1.25em 0;
		

	}
}