footer {
	margin-top: 2em;
	background: url(../images/landingBG.jpg) no-repeat;
	background-size: cover;
	background-position: left;
	text-align: center;
	padding: 8em 0 .4em;

	a {
		color: white;
		text-transform: uppercase;
		display: block;
		padding-bottom: .5em;
		font-size: .9em;
		font-weight: 500;
	}
}