

.topNav {
	display: none;	


	@include breakpoint($small){
		position: fixed;
		//top: 10px;
		display: block;
		background: rgba(35, 40, 43, .9);
		width: 100%;
		z-index: 1;
		


		ul {
			margin: 0;

		}

		
		li {
			display: inline-block;
		}

		a {
			color: $blue;
			text-transform: lowercase;
			text-align: center;
			display: inline-block;
			padding: .5em 1em;
			margin: .65em .5em;	

			@include transition (color, .5s, ease);

			&:hover {
			
				@include breakpoint($medium) {
					color: white;
				}
			}
		}


		
		.home a {
			display: block;
			background: url(../images/logo.png) no-repeat;
			text-indent: -9999px;
			width: 33px;
			height: 37px;
			padding-bottom: 0;
			background-size: 33px 37px; 
			margin: 0 auto;
			margin-top: -2em;
			margin-right: 0;
		}
		
		.topRegister a {
			position: absolute;
			right: 5%;;
			top: 0;
			color: $neon;
			text-align: right;
			margin-right: 0;
			padding-left: 2em;	
			font-weight: 600;
			
	
			.linkArrows {
				margin-left: 15px;
				margin-top: 3px;	
			}

			@include transition (color, .5s, ease);

			&:hover {
			
				@include breakpoint($medium) {
					color: white;
				}
			}		
		}


	}
}





.registerButton {
		color: $neon;
		background: rgba(35, 40, 43, .9);
		width: 90%;
		position: fixed;
		top: 0;
		padding: .65em 5%;
		text-align: right;
		text-transform: lowercase;
		margin-bottom: 2em;
	
		.linkArrows {
			margin-left: 15px;
			margin-top: 3px;
			
		}

		@include breakpoint($small) {
			display: none;
		}
	}


.logo {

	margin: .3em;
	margin-top: 1.6em;

	@include breakpoint($small){
		display: none;
	}

}






.landing {
	background: url(../images/landingBG.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 4em 0;
	-webkit-font-smoothing: antialiased;
	position: relative;
	
	
	h3, p {
		color: white;
		font-weight: 100;
		text-transform: uppercase;
		
	}

	h3 {
		font-size: 2.75em;
		margin: 0;

		@include breakpoint($large){
			font-size: 3.75em;
			font-weight: 400;
			margin-top: .75em;
		}
	
	}

	p {
		line-height: 1.4;
	}

	h2 {
		display:block;
		background: url(../images/grok.png) no-repeat;
		text-indent: -9999px;
		width: 270px;
		height: 98px;
		background-size: 270px 98px;
		margin: 0 auto;

		@include breakpoint($large){
			width: 508px;
			height: 184px;

			background-size: 508px 184px;
		}
	}

	
	.navLink {
		color: $blue;
		text-transform: lowercase;
		display: block;
		background: rgba(35, 40, 43, .9);
		margin-bottom: .25em;
		padding: .65em 0;
		text-align: center;

		@include breakpoint($small) {
			display: none;

		}

	}



	.landingSubtitle {
		margin-top: 0;


	}

	.slogan {
		@include breakpoint($small){
			display: none;
		}

	}
	
	.hidden {
		display: none;

		@include breakpoint($small){
			display: block;
			font-size: 1em;
		}

		@include breakpoint($large){
			font-size: 1.5em;
		}
	}
	.conferenceDate {
		@include breakpoint($small){
			padding-bottom: 6em;
			font-size: 1.3em;
		}

		@include breakpoint($large){
			font-size: 1.5em;
			padding-bottom: 4.5em;
		}
		
	}

	.joinUs {
		color: $neon;
		text-transform: uppercase;
		background: rgba(35, 40, 43, .9);
		display: inline-block;
		padding: .65em 2.75em;
		text-align: center;
		font-size: .85em;
		margin: 0 auto;

		@include transition (color, .5s, ease);

			&:hover {
			
				@include breakpoint($medium) {
					color: white;
				}
			}

		@include breakpoint($large){
			font-size: 1.25em;
		}
	}
}