.the1020s {

	background-color: $gray;
	color: white;
	padding:3em 0 .01em;

	.subtitle {
		-webkit-font-smoothing: antialiased;
		font-size: 2em;
		font-weight: 400;
	}

	img {
		margin: 0 auto;
		display: block;
	}

	h3, h4, p {
		text-align: center;
		font-weight: 400;
	}

	p {
		margin: 0 auto;
		margin-bottom: 4em;
		width: 80%;
		font-style: .85em;

		@include breakpoint($small){
			font-size: 1.1em;
			width: 75%;
		}

	}

	h3 {
		font-size: 6em;
		margin: 0 auto;

	}

	h4 {
		font-size: 1.75em;
		text-transform: lowercase;
		margin: 0;
	}

	.dialLabel {
		margin-top: -13em;
		margin-bottom: 6em;
	}
}