.the1020s {

	background-color: $gray;
	color: white;
	padding: 3em 0 .01em;



	img {
		margin: 0 auto;
		display: block;
	}

	h3, h4, p {
		text-align: center;
	}

	p {
		margin-bottom: 4em;
	}

	h3 {
		font-size: 6em;
		margin: 0 1em 0;
	}

	h4 {
		font-size: 1.5em;
		text-transform: lowercase;
		margin: 0;
	}

	.dialLabel {
		margin-top: -13em;
		margin-bottom: 6em;
	}
}