.the1020s {

	background-color: $gray;
	color: white;
	padding:3em 0 .01em;

	.subtitle {
		-webkit-font-smoothing: antialiased;
		font-size: 2em;
		font-weight: 400;

		@include breakpoint($large){
			font-size: 2.75em;
		}
	}

	img {
		margin: 0 auto;
		display: block;
	}

	h3, h4, p {
		text-align: center;
		font-weight: 400;
	}

	p {
		margin: 0 auto;
		margin-bottom: 4em;
		width: 80%;
		font-style: .85em;

		@include breakpoint($small){
			font-size: 1.1em;
			width: 75%;
		}

		@include breakpoint($large){
			font-size: 1.3em;
			width: 75%;
		}


	}

	h3 {
		font-size: 6em;
		margin: 0 auto;

		@include breakpoint($small){
			font-size: 4.5em;
		}
		
		@include breakpoint($medium){
			font-size: 5.5em;
		}

		@include breakpoint($large){
			font-size: 5.75em;
			
		}
	}

	h4 {
		font-size: 1.75em;
		text-transform: lowercase;
		margin: 0;

		@include breakpoint($small){
			font-size: 1.5em;
		}

		@include breakpoint($large){
			font-size: 1.75em;

		}
	}

	.dialLabel {
		margin-top: -13em;
		margin-bottom: 6em;

		@include breakpoint($small){
			margin-top: -11em;
		}

		@include breakpoint($medium){
			margin-top: -13em;
		}
	}


	}


	.dial {
		@include breakpoint($small){
			width: 45%;
			display: inline-block;
		}


}

.circlesRight {
		@include breakpoint($small){
			margin-left: 9%;
		}
	}